GEMINI_API_KEY=your_api_key_here
IRONSOURCE_APP_KEY=28923b09d
IRONSOURCE_BANNER_1_ID=u69dlx056j56xqeo
IRONSOURCE_BANNER_2_ID=89bmz131ymy183nt
IRONSOURCE_INTERSTITIAL_ID=9q3ur98wulcj7q2s
IRONSOURCE_NATIVE_ID=tmf1a39uruhmkzjb
IRONSOURCE_REWARDED_ID=2wm05o1m4l5n6s8n
